Email-to-Todoist.json
{
  "name": "Email-to-Todoist",
  "nodes": [
    {
      "parameters": {
        "path": "email-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        1200
      ],
      "id": "8d825d92-74c2-4fc1-84d4-d185f9f65697",
      "name": "Webhook",
      "webhookId": "00000000-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        1920
      ],
      "id": "e17c0d7c-9dca-438e-8fe6-baa5488c3f45",
      "name": "Get Account 8 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_8",
          "name": "Account 8 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        1728
      ],
      "id": "c850fa92-5329-4b4d-84b9-55d1bf458f64",
      "name": "Get Account 7 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_7",
          "name": "Account 7 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        1248
      ],
      "id": "132b4554-9da0-453a-b06f-6aec53cd6a68",
      "name": "Get Account 5 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_5",
          "name": "Account 5 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        1440
      ],
      "id": "9785afac-b639-42bd-a74a-c7d845f3b4a8",
      "name": "Get Account 6 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_6",
          "name": "Account 6 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        1056
      ],
      "id": "bd4f5631-3a00-4a74-b078-7377d99d2324",
      "name": "Get Account 4 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_4",
          "name": "Account 4 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $now.minus(2, 'day').toISO() }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        864
      ],
      "id": "f26ba551-ff85-4eb7-ae03-fb7ad9282c38",
      "name": "Get Account 3 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000002",
      "credentials": {
        "gmailOAuth2": {
          "id": "CREDENTIAL_ID_3",
          "name": "Account 3 - Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 5",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1248
      ],
      "id": "1f68647b-978e-4f64-b4db-aa639badbf44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 8",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1920
      ],
      "id": "8ed4567f-f954-4016-9f1a-37b12d1ecf4a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 6",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1440
      ],
      "id": "82d189b0-c1a8-4def-ab6c-05a66f67a980",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 7",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1728
      ],
      "id": "dd53cd8e-e21e-4bba-8703-dc990b452efb",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 4",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1056
      ],
      "id": "be783aea-123e-49b9-8e1c-68955247ecf6",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 3",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Gmail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        864
      ],
      "id": "bbfa9861-274b-4fa1-afb5-9a6b12418a9e",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4080,
        1328
      ],
      "id": "00120542-fc5e-4df1-b2c6-e5e194865bf5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        1056
      ],
      "id": "1bc7cd0f-cf88-4b27-a478-806beb3247a1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const ZW = /[​‌‍‎‏﻿­͏⠀]/g;\n\nconst decodeEntities = s => (s || '')\n  .replace(/&zwnj;|&zwj;|&shy;/gi, '')\n  .replace(/&nbsp;/gi, ' ').replace(/&amp;/gi, '&').replace(/&lt;/gi, '<').replace(/&gt;/gi, '>')\n  .replace(/&quot;/gi, '\"').replace(/&#0*39;/g, \"'\").replace(/&#(\\d+);/g, (m, n) => { try { return String.fromCodePoint(+n); } catch (e) { return ' '; } });\n\nconst cleanText = s => decodeEntities((s || '').toString()).replace(ZW, '').replace(/\\s+/g, ' ').trim();\n\nconst stripHtml = html => cleanText((html || '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<head[\\s\\S]*?<\\/head>/gi, ' ')\n  .replace(/<[^>]+>/g, ' '));\n\nconst BAD_LINK = /unsubscribe|list-manage|email.?preferences|opt[-_]?out|privacy|view.?in.?browser|manage.?subscri|update.?preferences|mailto:/i;\n\nconst extractLinks = (html) => {\n  const links = [];\n  const seen = new Set();\n  if (!html) return links;\n  const re = /<a\\b[^>]*href=[\"']?(https?:\\/\\/[^\"'\\s>]+)[\"']?[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let m;\n  while ((m = re.exec(html)) !== null && links.length < 5) {\n    const url = m[1].slice(0, 400);\n    const label = stripHtml(m[2]).slice(0, 60);\n    if (!label) continue;\n    if (BAD_LINK.test(url) || BAD_LINK.test(label)) continue;\n    const key = url.split('?')[0];\n    if (seen.has(key)) continue;\n    seen.add(key);\n    links.push({ label, url });\n  }\n  return links;\n};\n\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const isGmail = j.threadId !== undefined || j.labelIds !== undefined || j.labels !== undefined || j.internalDate !== undefined;\n  const id = (j.id !== undefined && j.id !== null) ? String(j.id) : '';\n  if (isGmail) {\n    const html = j.html || '';\n    const text = cleanText(j.text) || stripHtml(html) || cleanText(j.snippet);\n    out.push({\n      messageId: id ? `gmail:${id}` : '',\n      account: j.account || '',\n      source: 'Gmail',\n      from: (j.from && (j.from.text || (j.from.value && j.from.value[0] && j.from.value[0].address))) || j.From || '',\n      subject: j.subject || j.Subject || '',\n      snippet: cleanText(j.snippet) || text.slice(0, 200),\n      bodyText: text.slice(0, 1500),\n      links: extractLinks(html),\n      date: j.date ? new Date(j.date).toISOString() : (j.internalDate ? new Date(Number(j.internalDate)).toISOString() : '')\n    });\n  } else {\n    const isHtmlBody = j.body && /html/i.test(j.body.contentType || '');\n    const html = isHtmlBody ? (j.body.content || '') : '';\n    const text = (!isHtmlBody && j.body && j.body.content) ? cleanText(j.body.content) : (stripHtml(html) || cleanText(j.bodyPreview));\n    out.push({\n      messageId: id ? `outlook:${id}` : '',\n      account: j.account || (Array.isArray(j.to) ? j.to[0]?.address : '') || '',\n      source: 'Outlook',\n      from: (typeof j.from === 'string' ? j.from : j.from?.emailAddress?.address) || '',\n      subject: j.subject || '',\n      snippet: cleanText(j.bodyPreview) || text.slice(0, 200),\n      bodyText: text.slice(0, 1500),\n      links: extractLinks(html),\n      date: j.receivedDateTime || j.sentDateTime || ''\n    });\n  }\n}\n\n// content key: sender email + normalized subject. Ignores which mailbox/provider\n// received it, so the same message landing in multiple accounts collapses to one.\nconst emailOf = s => {\n  const m = (s || '').toString().toLowerCase().match(/<([^>]+)>/);\n  return (m ? m[1] : (s || '')).toString().trim().toLowerCase();\n};\nconst normSubj = s => (s || '').toString().trim().toLowerCase()\n  .replace(/^(re|fwd|fw)\\s*:\\s*/i, '')\n  .replace(/^(re|fwd|fw)\\s*:\\s*/i, '')\n  .replace(/\\s+/g, ' ');\nfor (const m of out) {\n  m.contentKey = emailOf(m.from) + '|' + normSubj(m.subject);\n}\n\n// newest first, so the copy we keep is the freshest\nout.sort((a, b) => new Date(b.date) - new Date(a.date));\n\n// de-dupe within this run by content (collapses same message across mailboxes)\nconst seen = new Set();\nconst deduped = [];\nfor (const m of out) {\n  const key = m.contentKey || m.messageId;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push(m);\n}\n\nreturn [{ json: {\n  count: deduped.length,\n  duplicatesRemoved: out.length - deduped.length,\n  generatedAt: new Date().toISOString(),\n  messages: deduped\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1152
      ],
      "id": "306af8cf-d7dc-482f-911e-11dc85d286f6",
      "name": "Normalize, Sort"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $now.minus(2,'day').toISO() }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1840,
        480
      ],
      "id": "473fcc3a-fb1a-4fa9-b21c-96589ec50271",
      "name": "Get Account 1 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000003",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_1",
          "name": "Account 1 - Outlook"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $now.minus(2,'day').toISO() }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1840,
        672
      ],
      "id": "c33b0902-6b2f-44ff-b2a1-39bd3b3862c4",
      "name": "Get Account 2 Mail",
      "webhookId": "00000000-0000-0000-0000-000000000003",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_2",
          "name": "Account 2 - Outlook"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 1",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Outlook",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        480
      ],
      "id": "cef4064d-b9a2-42e5-ba85-20030144e7a8",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df5a904-6832-42d1-aa22-fefc34f5debc",
              "name": "account",
              "value": "Account 2",
              "type": "string"
            },
            {
              "id": "493389b2-8fef-4654-b913-a184875760b8",
              "name": "source",
              "value": "Outlook",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        672
      ],
      "id": "a7b1a851-06df-43c8-b7d2-ab69c982fd42",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "df521772-0b77-4813-b535-ce119219e1c7",
      "name": "Split Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2736,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.messageId }}"
            }
          ]
        }
      },
      "id": "b561ea1f-f76f-4c4c-b543-ad6bb12a7172",
      "name": "Filter New",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2960,
        1152
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "messages",
        "options": {}
      },
      "id": "45ae78dd-3bb4-4ae5-8994-5c8981c09eb2",
      "name": "Aggregate New",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3408,
        1152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-tasks-ack",
        "options": {}
      },
      "id": "6053ae41-1b74-42fb-b933-dab0746765a8",
      "name": "Ack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        2144
      ],
      "webhookId": "004928a7-710b-4e38-8198-6d0c340e4bf4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.processed",
        "options": {}
      },
      "id": "d2fd2915-cf11-46b7-912d-71e83fc3688b",
      "name": "Split Ack",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1840,
        2144
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.messageId }}",
            "subject": "={{ $json.subject }}",
            "content_key": "={{ $json.contentKey }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content_key",
              "displayName": "content_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "4890d1f1-6719-4c20-9704-b6755866b2c5",
      "name": "Record Acked",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2064,
        2144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-tasks-notify",
        "options": {}
      },
      "id": "14d1d09b-6f28-4517-919f-d49223caf1c8",
      "name": "Notify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        2368
      ],
      "webhookId": "f1b7a0c4-092f-42b0-a5de-411c2403276f"
    },
    {
      "parameters": {
        "chatId": "CHAT_ID",
        "text": "={{ $json.body.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "313c0085-b826-4004-87ef-24b5027d963d",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        2368
      ],
      "webhookId": "9a711b93-2152-4f1f-9caf-4cd8a75082e9",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "telegramApi": {
          "id": "i5NHCWjfEoHz7Dce",
          "name": "BOT_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "content_key",
              "keyValue": "={{ $json.contentKey }}"
            }
          ]
        }
      },
      "id": "c5ec1812-0b30-4d41-b947-1b2db1f535d9",
      "name": "Filter Dup Content",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3184,
        1152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-tasks-commit",
        "options": {}
      },
      "id": "8ac51589-38b7-45d5-a1ca-7a364048df0e",
      "name": "Commit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1616,
        2928
      ],
      "webhookId": "18874c1f-05d5-4868-8e2b-5b7ceeb2e759"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst tasks = Array.isArray(body.tasks) ? body.tasks : [];\n\nconst PROJECTS = {\n  'inbox': '6gc2qFxj6vPvH52F',\n  'accounts payable': '6h67V5cGVfPMjjVc',\n  'awl phase enterprises': '6gchGJVQMH4f8rJc',\n  'adjusted intelligence': '6gchGJRm92r52mPM',\n  'buy my house now fast': '6gchGJVJRfRww5H7',\n  'chris personal': '6gf7GpRPFr369wQG',\n  'elev8d global llc - general business activities': '6gf7RXX4wrjQ7QhV',\n  'elev8d cannabis - general': '6gchGJWrHRGPGvQr',\n  'elev8d e-commerce': '6gchGJc3MhCRHxG6',\n  'elev8d stores': '6gchGJf56F4wpgwv',\n  'elev8d & candy brands': '6gchGJggMVjXCMCP',\n  'm1 capital fund': '6gchGJhP5wFj8Qf7',\n  'elev8d real estate development': '6gchGJmh7x2jMXqF',\n  'cancun capital fund': '6gchGJmcWJJXRGq3',\n  'elev8d theme park': '6gchGJpVXvhC6PQj',\n  'elev8d ai': '6gchGJrFMcw3p62X',\n  'trading room': '6gchGJqG53crVcq9',\n  'elev8d products': '6gchGJxpQfFggGf4',\n  'elev8d tek labs': '6gchGJxGwpvjJg4j',\n  'marketing & growth': '6gchGJwXW59gCrvH',\n  'finance & corporate': '6gchGM3GvVwfv5vg',\n  'elev8d content calendar': '6gchGM2jrMF64gcv',\n  'chris new projects ideas': '6gchMG43F63QWxqp',\n  '750 harrison': '6ggpg3pWrVxX4gqX',\n};\n\nconst norm = s => (s || '').toString()\n  .replace(/[\\u{1F300}-\\u{1FAFF}\\u{2600}-\\u{27BF}\\u{FE0F}]/gu, '')\n  .replace(/[´’‘']/g, '')\n  .toLowerCase().replace(/\\s+/g, ' ').trim();\n\nconst resolveProject = (name) => {\n  const n = norm(name);\n  if (n && PROJECTS[n]) return { id: PROJECTS[n], name: name };\n  if (n) {\n    for (const [k, id] of Object.entries(PROJECTS)) {\n      if (k.includes(n) || n.includes(k)) return { id, name: name };\n    }\n  }\n  return { id: PROJECTS['inbox'], name: 'Inbox' };\n};\n\nconst PRIO = { p1: 4, p2: 3, p3: 2, p4: 1 };\n\nconst out = [];\nfor (const t of tasks) {\n  const proj = resolveProject(t.project);\n  out.push({ json: {\n    title: (t.title || 'Untitled task').toString().slice(0, 500),\n    description: (t.description || '').toString().slice(0, 16000),\n    prio: PRIO[(t.priority || 'p4').toString().toLowerCase()] || 1,\n    dueString: t.dueString ? t.dueString.toString() : '',\n    projectName: proj.name,\n    projectId: proj.id,\n    messageId: t.messageId || '',\n    subject: t.subject || '',\n    contentKey: t.contentKey || '',\n  }});\n}\nreturn out;"
      },
      "id": "6afd0e34-b6c1-481f-a98b-5d483ad8c83b",
      "name": "Prepare Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        2688
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst skipped = Array.isArray(body.skipped) ? body.skipped : [];\nreturn skipped.map(s => ({ json: {\n  messageId: s.messageId || '',\n  subject: s.subject || '',\n  contentKey: s.contentKey || '',\n}}));"
      },
      "id": "bb9e703d-e44e-44ec-ad63-5a384661a455",
      "name": "Skipped Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        3072
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.projectId }}"
        },
        "content": "={{ $json.title }}",
        "options": {
          "description": "={{ $json.description }}",
          "dueString": "={{ $json.dueString }}",
          "priority": "={{ $json.prio }}"
        }
      },
      "id": "f2b2df4f-887b-425a-8009-f0b5c747af4a",
      "name": "Create Todoist Task",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        2064,
        2688
      ],
      "retryOnFail": true,
      "credentials": {
        "todoistApi": {
          "id": "pbRIpn7f0fbYfX4Z",
          "name": "Todoist API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "messageId",
              "value": "={{ $('Prepare Tasks').item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "subject",
              "value": "={{ $('Prepare Tasks').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "contentKey",
              "value": "={{ $('Prepare Tasks').item.json.contentKey }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "projectName",
              "value": "={{ $('Prepare Tasks').item.json.projectName }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "title",
              "value": "={{ $('Prepare Tasks').item.json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "228fb104-53a2-469a-bf01-3c65dc256952",
      "name": "Task Ack Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        2592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "title",
              "value": "={{ $('Prepare Tasks').item.json.title }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "projectName",
              "value": "={{ $('Prepare Tasks').item.json.projectName }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "messageId",
              "value": "={{ $('Prepare Tasks').item.json.messageId }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "error",
              "value": "={{ ($json.error && ($json.error.message || $json.error.description || JSON.stringify($json.error).slice(0,200))) || 'create failed' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "874c1551-471c-41e0-aec3-b8c695f3d4c4",
      "name": "Failed Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        2784
      ]
    },
    {
      "parameters": {},
      "id": "cf747936-a838-4813-9c63-7d7e979b07de",
      "name": "Merge Acks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2512,
        2592
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DATA_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{ $json.messageId }}",
            "subject": "={{ $json.subject }}",
            "content_key": "={{ $json.contentKey }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content_key",
              "displayName": "content_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "98d46f05-9658-48e6-8ea5-75bce2d2c8e4",
      "name": "Record Committed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2736,
        2592
      ]
    },
    {
      "parameters": {},
      "id": "f9f82200-f708-49d1-8fa2-ca17bf04abb5",
      "name": "Sync",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2960,
        2768
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Commit Webhook').first().json.body || {};\nlet created = [];\nlet failed = [];\ntry { created = $('Task Ack Fields').all().map(i => i.json); } catch (e) {}\ntry { failed = $('Failed Fields').all().map(i => i.json); } catch (e) {}\nconst skipped = Array.isArray(body.skipped) ? body.skipped.length : 0;\nconst received = (typeof body.received === 'number') ? body.received : created.length + failed.length + skipped;\n\nconst dateStr = new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', timeZone: 'America/New_York' });\n\nconst lines = [];\nlines.push(`\\u{1F4E5} Email → Todoist · ${dateStr}`);\nlines.push(`Received ${received} · Created ${created.length} · Skipped ${skipped}${failed.length ? ` · Failed ${failed.length}` : ''}`);\n\nif (created.length) {\n  lines.push('');\n  lines.push('\\u{1F195} New tasks');\n  const byProj = {};\n  for (const c of created) {\n    const p = c.projectName || 'Inbox';\n    (byProj[p] = byProj[p] || []).push(c.title);\n  }\n  for (const [proj, titles] of Object.entries(byProj)) {\n    lines.push('');\n    lines.push(proj);\n    for (const t of titles) lines.push(`• ${t}`);\n  }\n} else {\n  lines.push('');\n  lines.push('No action items today — everything was noise.');\n}\n\nif (failed.length) {\n  lines.push('');\n  lines.push('⚠️ Failed (left unacked, will retry next run)');\n  for (const f of failed) lines.push(`• ${f.title}`);\n}\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "id": "dc39f810-ebad-4b38-8095-cc7659b155ec",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        2768
      ]
    },
    {
      "parameters": {
        "chatId": "CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "96af96ac-7b4b-4539-935d-e6b117b12823",
      "name": "Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3408,
        2768
      ],
      "webhookId": "ff4bd49f-1d3a-4372-b69c-bffed2d7dc8d",
      "credentials": {
        "telegramApi": {
          "id": "i5NHCWjfEoHz7Dce",
          "name": "BOT_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "id": "b66b2bd4-209e-4110-905c-67f0a9c985ad",
      "name": "Get Open Tasks",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        3184,
        1584
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "todoistApi": {
          "id": "pbRIpn7f0fbYfX4Z",
          "name": "Todoist API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const NAMES = {\n  '6gc2qFxj6vPvH52F': 'Inbox',\n  '6gchGJVQMH4f8rJc': 'Project 1',\n  '6gchGJRm92r52mPM': 'Project 2',\n  '6gchGJVJRfRww5H7': 'Project 3',\n  '6gf7GpRPFr369wQG': 'Personal',\n  '6gf7RXX4wrjQ7QhV': 'Project 4',\n  '6gchGJWrHRGPGvQr': 'Project 5',\n  '6gchGJc3MhCRHxG6': 'Project 6',\n  '6gchGJf56F4wpgwv': 'Project 7',\n  '6gchGJggMVjXCMCP': 'Project 8',\n  '6gchGJhP5wFj8Qf7': 'Project 9',\n  '6gchGJmh7x2jMXqF': 'Project 10',\n  '6gchGJmcWJJXRGq3': 'Project 11',\n  '6gchGJpVXvhC6PQj': 'Project 12',\n  '6gchGJrFMcw3p62X': 'Project 13',\n  '6gchGJqG53crVcq9': 'Project 14',\n  '6gchGJxpQfFggGf4': 'Project 15',\n  '6gchGJxGwpvjJg4j': 'Project 16',\n  '6gchGJwXW59gCrvH': 'Project 17',\n  '6gchGM3GvVwfv5vg': 'Project 18',\n  '6gchGM2jrMF64gcv': 'Project 19',\n  '6gchMG43F63QWxqp': 'New project ideas',\n  '6ggpg3pWrVxX4gqX': 'Project 20',\n};\n\nconst openTasks = [];\ntry {\n  for (const item of $input.all()) {\n    const j = item.json || {};\n    const desc = (j.description || '').toString();\n    // only tasks this pipeline created (description carries the source-email line)\n    if (!desc.includes('From:') || !desc.includes('| Account:')) continue;\n    if (j.is_completed || j.checked) continue;\n    openTasks.push({\n      title: (j.content || '').toString().slice(0, 120),\n      project: NAMES[j.project_id] || 'Unknown',\n      createdAt: (j.created_at || j.added_at || '').toString().slice(0, 10),\n    });\n    if (openTasks.length >= 300) break;\n  }\n} catch (e) {}\n\nreturn [{ json: { openTasks } }];"
      },
      "id": "279bc86a-a2f6-4ce6-ad65-9d7c74097c51",
      "name": "Pipeline Tasks Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        1584
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "1f51fdc5-9469-4b7d-9201-a5b257c9a1a3",
      "name": "Combine Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3632,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json || {};\nconst messages = Array.isArray(j.messages) ? j.messages : [];\nconst openTasks = Array.isArray(j.openTasks) ? j.openTasks : [];\nreturn [{ json: {\n  count: messages.length,\n  generatedAt: new Date().toISOString(),\n  messages,\n  openTasks,\n} }];"
      },
      "id": "aa976bd1-4515-4678-af7e-57b3459020b0",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        1328
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Account 1 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 2 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 3 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 4 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 5 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 6 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 7 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Account 8 Mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Open Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 5 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 8 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 6 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 7 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 4 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 3 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalize, Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 1 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account 2 Mail": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize, Sort": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Filter New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Split Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ack": {
      "main": [
        [
          {
            "node": "Record Acked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Webhook": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New": {
      "main": [
        [
          {
            "node": "Filter Dup Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Dup Content": {
      "main": [
        [
          {
            "node": "Aggregate New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Webhook": {
      "main": [
        [
          {
            "node": "Prepare Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Skipped Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Tasks": {
      "main": [
        [
          {
            "node": "Create Todoist Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todoist Task": {
      "main": [
        [
          {
            "node": "Task Ack Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Ack Fields": {
      "main": [
        [
          {
            "node": "Merge Acks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skipped Rows": {
      "main": [
        [
          {
            "node": "Merge Acks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Acks": {
      "main": [
        [
          {
            "node": "Record Committed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Committed": {
      "main": [
        [
          {
            "node": "Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Tasks": {
      "main": [
        [
          {
            "node": "Pipeline Tasks Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate New": {
      "main": [
        [
          {
            "node": "Combine Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Tasks Only": {
      "main": [
        [
          {
            "node": "Combine Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Response": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 230
  },
  "versionId": "93d0f9b5-fd77-4a12-940a-654053b113d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "BKR8VDzbwhrl3x0Y",
  "tags": []
}